* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: background .5s, border .5s, box-shadow .5s;
}

/* <- Dark Mode -> =============================================================================================================================== */
body {
    min-height: 100vh;
    
    display: flex;
    justify-content: center;
    align-items: center;

    background: #240229;
}

.loader {
    position: relative;
    width: 200px; height: 200px;
    border: 4px solid #240229;
    
    overflow: hidden;
    /* hides the blur */

    border-radius: 50%;
    box-shadow: -5px -5px 5px rgba(255, 255, 255, 0.1),
                10px 10px 10px rgba(0, 0, 0, 0.4),
                inset -5px -5px 5px rgba(255, 255, 255, 0.2),
                inset 10px 10px 10px rgba(0, 0, 0, 0.4);
}
            
.loader::before {
    content: '';
    position: absolute;
    inset: 25px;
    z-index: 10;
    
    background: #240229;
    border: 2px solid #240229;
    border-radius: 50%;
    box-shadow: inset -2px -2px 5px rgba(255, 255, 255, 0.2),
                inset 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.loader span {
    position: absolute;
    width: 100%; height: 100%;
    z-index: -1;

    border-radius: 50%;
    background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
    filter: blur(20px);
    animation: spin-in-place 0.5s linear infinite;
}

.toggle {
    position: absolute;
    top: 50px; right: 50px;
    width: 75px; height: 50px;
    border-radius: 25px;

    display: flex; justify-content: center; align-items: center;
    background: #f1f1f1;
    background: url();
}

.toggle::before {
    content: '';
    position: absolute;
    z-index: -1;
    width: 81px; height: 56px;
    border-radius: 23px;
    background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
}

.toggle::after {
    visibility: hidden;
    content:'Light Mode';
    position: absolute;
    padding: 5px 10px;
    z-index: -1;

    background: #240229;
    border: 2px solid #f1f1f1;
    border-radius: 16px;
    
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    white-space: nowrap;
    color: #f1f1f1;

    transition: transform 0.25s, visibility 0.05s;
}

.toggle:hover::after {
    visibility: visible;
    transform: translateY(60px);
    transition: transform 0.25s, visibility 0.05s;
}

/* <- Light Mode -> =============================================================================================================================== */
body.light {
    background: #f1f1f1;
}

body.light .loader {
    border: 4px solid #f1f1f1;
    box-shadow: -10px -10px 10px rgba(255, 255, 255, 1),
    10px 10px 10px rgba(0, 0, 0, 0.2),
    inset -10px -10px 15px rgba(255, 255, 255, 0.4),
    inset 10px 10px 10px rgba(0, 0, 0, 0.2);
}

body.light .loader::before {
    background: #f1f1f1;
    border: 2px solid #f1f1f1;
    box-shadow: inset -10px -10px 10px rgba(255, 255, 255, 0.5),
    inset 10px 10px 10px rgba(0, 0, 0, 0.1);
}

body.light .toggle {
    background: #240229;
}

body.light .toggle::after {
    visibility: hidden;
    content:'Dark Mode';
    position: absolute;
    padding: 5px 10px;
    z-index: -1;
    
    background: #f1f1f1;
    border: 2px solid #240229;
    border-radius: 16px;
    
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    white-space: nowrap;
    color: #240229;
    
    transition: transform 0.25s, visibility 0.05s;
}

body.light .toggle:hover::after {
    visibility: visible;
    transform: translateY(60px);
    transition: transform 0.25s, visibility 0.5s;
}

/* <- Animation -> =============================================================================================================================== */
@keyframes spin-in-place {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(360deg);
    }
}