:root {
    --cstm-grey: rgb(33, 33, 33)
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 22px;
    color: white;
    background-color: var(--cstm-grey);
}

#submit-button {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);

    padding: 20px;
    font-size: 35px;

    background: linear-gradient(to right, red, blue);
    color: white;
    border: none;
}

#submit-button::before {
    content: '';
    display: block;
    position: absolute;
    z-index: -1;
    inset: 2px; 
    /* Inset is quite powerful, the value provided is the size by which the pse is smaller than main element on all sides. Even the positioning happens automatically */
    background: var(--cstm-grey);
}

#submit-button:hover {
    background: linear-gradient(to left, red, blue);
    letter-spacing: 0.1em;
    transition: background .5s,
                letter-spacing .6s;  
    /* Transitioning gradients is not yet supported */
}